/*div {
  border: 2px dotted red;
}

/* Styles for the alphabet keypad */
#alphabet-keypad, {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#alphabet-keypad {
  text-align: center;
  padding: 0 140px;
}
.letter-button, .letter-disabled {
  border-radius: 20%;
  display: inline-block;
  font-family: monospace;
  font-size: 1.6em;
  height: 1.6em;
  margin: 0.2em 0.1em;
  padding-top: 0.1em;
  width: 1.6em;

  transition: color 0.2s,
  background-color 0.2s;
}
.letter-button {
  border: 1px solid #38588c;
  color: #38588c;
}
.letter-button:hover {
  background-color: #38588c;
  color: white;
  cursor: pointer;
}
.letter-disabled {
  border: 1px solid lightgrey;
  color: lightgrey;
  cursor: default;
}
/*end keypad */

.gallows {
  height: 450px;
}

.gallows img {
  height: 450px;
}

.wordBlank {
  height: 450px;
}

.grave {
  height: 250px;
}

.keypad {
  margin: 0 15em;
}